<?xml version="1.0"?>
<!--
/**
 * Donin
 *
 * @category Donin
 * @package Donin_AdministrationFee
 */     
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Donin_AdministrationFee">
        <sequence>
            <module name="Magento_Quote"/>
            <module name="Magento_Sales"/>
        </sequence>
    </module>
</config>
