<?xml version="1.0" ?>
<!--
/**
 * Donin
 *
 * @category Donin
 * @package Donin_AdministrationFee
 */ 
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="donin_adminfee" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="200" translate="label">
            <label>Administration Fee</label>
            <tab>donin</tab>
            <resource>Donin_AdministrationFee::donin_adminfee</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Settings</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="shipping_countries" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shipping Country List</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="type" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Administration Fee</label>
                    <source_model>Donin\AdministrationFee\Model\Config\Source\Type</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="amount" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Administration Fee Amount</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="label" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Label</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
